<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\stuar\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\stuar\Desktop\local storage\ICS Working Directory\sdp-physqgen\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <defaultDocument enabled="false" />
    </system.webServer>

    <appSettings>
        <add key="WSGI_HANDLER" value="main.app" />
        <add key="PYTHONPATH" value="C:\Users\stuar\Desktop\local storage\ICS Working Directory\sdp-physqgen" />
    </appSettings>
</configuration>
