html {
    height: 100%;
    width: 100%;
}

body {
    height: 125vh;
    margin-top: 60px;
    padding: 30px;
    background-size: cover;
    font-family: arial;
    background-color: rgb(238, 238, 238);
    margin-left:auto;
    margin-right:auto;
}

/*Header that displays title of project*/
header {  
    background-color: rgb(141, 67, 198);
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 1px;
    width:100%;
    text-align: center;
    font-size:15px;
    box-shadow:
        0px 0.5px 10px rgba(0, 0, 0, 0.15),
        0px 4px 80px rgba(0, 0, 0, 0.3)
    ;
    font-family: Poppins;
}

/* Text that says "Question Number" */
h2 {
    font-family: Poppins;
    color:rgb(89,89,89)
}

img {
    /*Block level element, displays on its own line*/
    display: block;
    max-width: 100%;
    /*Makes the image go in the middle*/
    margin-left:auto;
    margin-right:auto;
}

/* Divider line */
hr.solid {
    border-top: 3px solid rgb(183,183,183);
    margin-bottom:20px
  }

/*Create question page right menu that displays image +description of question*/
section{
    float:right;
    background-color: white;
}

.questioncontainer{
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
}

/*Background of question that shows image and description of question*/
.question{
    background: white;
    padding:2%;
    text-align:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Answer submit area*/
.submit{
    background: white;
    padding: 2%;
    padding-left:10%
}

/*Button display area*/
.buttons{
    background:white;
    text-align:center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[type="text"]{
    font-size:25px;
}

input[type="email"]{
    font-size:25px;
}

input[type="submit"]{
    font-size:17px;
    width:75px;
    height:35px;
    font-family: Poppins;
    color:black;
    background-color: white;
}

input[value="Login"]{
    background-color: rgb(141, 67, 198);
    color:white;
    border:none;
}
input[value="Send"]{
    background-color: rgb(141, 67, 198);
    color:white;
    border:none;
}

label{
    font-size:17px;
    font-family: Poppins;
    color:black;
}

.black{
    color:black;
}

form{
    width:100%;
}

input, textarea{
    width:60%;
}

/*A divider to seperate the buttons*/
.divider{
    width:10%;
    display:inline-block;
}

/*Make the "create question" form in "teacher opening page" be inline*/
.teacheropeningbuttons{
    display:inline-block;
}

/*Login page form*/
.loginform{
    width: 50%;
    text-align: center;
    align-self:center;
    padding: 2%;
    margin:2%;
    margin-left:25%;
    border-radius: 10px;
    /*if you are 200px or smaller become green*/
    @media screen and (min-width: 200px) {
        background: wheat;
    }
    /*if it is 800 px or wider become yellow*/
    @media screen and (min-width: 800px) {
        background: white;
    }
}

/*Make all white input boxes be rounded*/
input {
    border-radius:5px;
}

/*Create question page left menu*/
aside{
    float: left;
    background: green;
    width:33%;
}

/*Footer for bottom buttons in "create question" page*/
footer{
    background:orange;
    clear: both;
}

/*Add padding to all divs*/
div{
    padding:2%
}

/*Padding/margin for left menu on "create question" page*/
.createquestionmenu{
    padding:8%;
    margin: 1%;
    /* float:left; */
}

._20 {
    width: 16%;
    float: left;
    display: inline;
}

.resizedTextbox {
    width: 50%;
}
