{
    "questions": [
        {
            "correctRange": 0.1,
            "question": "KinematicsQuestion",
            "variableConfig": {
                "displacement": {
                    "range": [0, 0],
                    "units": "m",
                    "displayName": "d"
                },
                "time": {
                    "range": [1, 2],
                    "units": "s",
                    "displayName": "t"
                },
                "acceleration": {
                    "range": [-0.5, 10],
                    "units": "m/s^2",
                    "displayName": "a"
                }
            },
            "solveVariable": "initial_velocity",
            "text": "Test KinematicsQuestion solve for initial_velocity."
        },
        {
            "correctRange": 0.1,
            "question": "KinematicsQuestion",
            "variableConfig": {
                "displacement": {
                    "range": [-1, 40],
                    "units": "m",
                    "displayName": "d"
                },
                "time": {
                    "range": [1, 2],
                    "units": "s",
                    "displayName": "t"
                },
                "acceleration": {
                    "range": [0.5, 10],
                    "units": "m/s^2",
                    "displayName": "a"
                }
            },
            "solveVariable": "final_velocity",
            "text": "Test KinematicsQuestion solve for final_velocity."
        }
    ]
}