{
    "questions": [
        {
            "correctRange": 0.1,
            "question": "KinematicsQuestion",
            "variableConfig": {
                "displacement": [0, 0],
                "time": [1, 2],
                "acceleration": [0.5, 10]
            },
            "solveVariable": "initial_velocity",
            "text": "Test KinematicsQuestion solve for initial_velocity."
        },
        {
            "correctRange": 0.1,
            "question": "KinematicsQuestion",
            "variableConfig": {
                "displacement": [0, 0],
                "time": [1, 2],
                "acceleration": [0.5, 10]
            },
            "solveVariable": "final_velocity",
            "text": "Test KinematicsQuestion solve for final_velocity."
        }
    ]
}