html {
    height: 100%;
    width: 100%;
  }
body {
    height: 125vh;
    margin-top: 60px;
    padding: 30px;
    background-size: cover;
    font-family: arial;
    background-color: rgb(211, 255, 240);
    margin-left:auto;
    margin-right:auto;
}  
header {  
    background-color: rgb(252, 124, 252);
    position: fixed;
    left: 0;
    right: 0;
    top: 1px;
    width:100%;
    text-align: center;
    /* font-family: Impact; */
    font-size:15px;
}

img {
    /*Block level element, displays on its own line*/
    display: block;
    max-width: 100%;
    /*Makes the image go in the middle*/
    margin-left:auto;
    margin-right:auto;
}

.question{
    background: pink;
    padding:2%;
    text-align:center;
}

.submit{
    background: greenyellow;
    border: 6px solid #949599;
    padding: 2%;
    border-radius: 6px;
}

.buttons{
    background:plum;
    text-align:center;
    padding:2%;
}

/*A divider to seperate the buttons*/
/*https://stackoverflow.com/questions/5119711/whats-the-easiest-way-to-put-space-between-2-side-by-side-buttons-in-asp-net*/
.divider{
    width:10%;
    display:inline-block;
}

form{
    background:thistle;
    width: 50%;
    text-align: center;
    align-self:center;
    padding: 2%;
    margin:2%;
    margin-left:25%;
    /*if you are 200px or smaller become green*/
    @media screen and (min-width: 200px) {
        background: green;
    }
    /*if it is 800 px or wider become yellow*/
    @media screen and (min-width: 800px) {
        background: yellow;
    }
}

input {
    border-radius: 5px;
  }

/*css for form: https://learn.shayhowe.com/html-css/building-forms/*/